<!DOCTYPE html>
<html lang="en">
  <head>
    <title>npm vanilla js</title>
    <meta charset="UTF-8" />
    <module href="/components/head.html"></module>
  </head>
  <body>
    <!-- You can delete the codes between the placeholders and start coding -->
    <!-- PLACEHOLDER START -->
    <div class="w-screen h-screen flex flex-col items-center">
      <div class="m-8">
        <p class="text-3xl font-mono ...">Hello world!</p>
      </div>
      <div class="m-8">
        <img
          src="images/logo.png"
          class="animate-spin"
          style="animation-duration: 4000ms"
        />
      </div>
    </div>
    <!-- PLACEHOLDER END -->
    <script src="bundle.js" defer async></script>
  </body>
</html>
